body{
  width: 100%;
  height: 100vh;
  max-width: 100%;
  max-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../img/background.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  font-family: "Roboto Flex", sans-serif;
  padding: 0;
  margin: 0;
}

#background-mask{
  width: 100%;
  height: 100vh;
  max-width: 100%;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  background-color: RGBA(255,255,255,.6);
  z-index: -1;
}

#tic-tac-toe{
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 15px; 
}

#tic-tac-toe h1{
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  color: RGBA(0,0,0,0.7);
  letter-spacing: 4px;
  font-size: 16px;
}

#tic-tac-toe #board{
  width: 260px;
  height: 260px;
  border-radius: 5px;
  padding: 20px;
  background-color: RGBA(0,0,0,0.8);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

#tic-tac-toe #board .spot{
  color: #f1f1f1;
  border: 1px solid #f1f1f1;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75px;
  font-size: 50px;
  font-weight: bold;
  cursor: default;
}

#tic-tac-toe #board .free-spot{
  transition: 0.2s;
  cursor: pointer;
}

#tic-tac-toe #board .free-spot:hover{
  background-color: #000;
}

#tic-tac-toe #board #spot1{
  border-top: none;
  border-left: none;
}

#tic-tac-toe #board #spot2{
  border-top: none;
}

#tic-tac-toe #board #spot3{
  border-top: none;
  border-right: none;
}

#tic-tac-toe #board #spot4{
  border-left: none;
}

#tic-tac-toe #board #spot6{
  border-right: none;
}

#tic-tac-toe #board #spot7{
  border-bottom: none;
  border-left: none;
}

#tic-tac-toe #board #spot8{
  border-bottom: none;
}

#tic-tac-toe #board #spot9{
  border-bottom: none;
  border-right: none;
}

#tic-tac-toe #score{
  width: 260px;
  height: 40px;
  padding: 20px;
  border-radius: 5px;
  background-color: RGBA(0,0,0,0.8);
  display: inline-flex;
  color: #FFF;
  font-size: 20px;
  text-align: center;
  justify-content: space-around;
}

#tic-tac-toe #score .turn-result, #tic-tac-toe #score .winner-result{
  font-weight: bold;  
}

#tic-tac-toe #reset{  
  display: flex;
  justify-content: center;
}

#tic-tac-toe #reset #btn-reset{
  background-color: RGBA(0,0,0,0.8);
  color: #FFF;
  font-size: 16px;
  width: fit-content;  
  padding: 10px 15px;
  border-radius: 5px;
}